<header>
  <mat-toolbar>
      <button *ngIf="this.usuarioService.usuarioLogado()" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'profissional'" mat-menu-item [routerLink]="'/agenda-prestador'">Minha agenda</button>

        <button *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'profissional'" mat-menu-item [routerLink]="'/cadastro-servico'">Criar novo serviço</button>

        <button *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'cliente'" mat-menu-item [routerLink]="'/listagem-servicos'">Agendar serviço</button>

        <button *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'cliente'" mat-menu-item [routerLink]="'/acompanhamento-solicitacoes'">Acompanhar Solicitações</button>

      </mat-menu>
    </button>
    <h1 id="logo">Agenda<b>+</b></h1>
    <span class="spacer"></span>

    <button id="botao-entrar" *ngIf="!this.usuarioService.usuarioLogado()" mat-flat-button aria-label="Entrar" [routerLink]="'/login-usuario'">
      <mat-icon>login</mat-icon>
      Entrar
    </button>
    <p class="nome-usuario">{{this.usuarioService.nomeUsuario()}}</p>
    <button *ngIf="this.usuarioService.usuarioLogado()" mat-icon-button [matMenuTriggerFor]="conta" aria-label="Conta">
      <mat-icon>account_circle</mat-icon>
      <mat-menu #conta="matMenu">
        <button mat-menu-item [routerLink]="'/perfil-usuario'"><mat-icon>person</mat-icon>Perfil</button>
        <button mat-menu-item class="sair" (click)="usuarioService.deslogarUsuario()"  [routerLink]="'/login-usuario'"><mat-icon>logout</mat-icon>Sair</button>
      </mat-menu>
    </button>
  </mat-toolbar>
</header>
