h1 {
  display: flex;
  justify-content: center;
  padding: 30px;
}

h2{
  color: #ffffff;
}

#aviso-solicitacoes{
  text-align: center;
}

#solicitacoes{
  background: linear-gradient(135deg, #3f51b5, #1a237e);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  margin: 0 40px;
  min-height: 400px;
  border-radius: 20px;
}

.categoria-solicitacao{
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  overflow: auto;
}

.card-solicitacao{
  min-width: 300px;
  min-height: 200px;
  border-radius: 20px;
}

.botoes-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 1px solid #aaaaaa;
  width: 100%;
  gap: 8px;
  padding: 15px;
}

.botoes-card button {
  width: 50%;
}

.header-card{
  flex-grow: 1;
  padding: 15px;
}

.cards{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px 0;
}
