<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
<main>
  <h1>Acompanhamento de solicitações</h1>
  <div class="container">
    <div *ngIf="agendamentos.length === 0" class="sem-agendamentos">
      <p>Nenhum agendamento solicitado.</p>
    </div>
    <div *ngIf="agendamentos.length > 0" class="cards-container">
      <div *ngFor="let agendamento of agendamentos" class="card" [ngClass]="getCorCard(agendamento.status)">

        <h2>{{ agendamento.servico.nome }}</h2>
        <p><strong>Prestador:</strong> {{ agendamento.servico.prestador?.nome }}</p>
        <p><strong>Status:</strong> {{ agendamento.status }}</p>
        <p><strong>Data:</strong> {{ agendamento.horarioInicial | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Horário:</strong>
          {{ agendamento.horarioInicial | date: 'HH:mm' }} -
          {{ agendamento.horarioFinal | date: 'HH:mm' }}
        </p>
        <p><strong>Valor Total:</strong> {{ agendamento.valorTotal | currency: 'BRL' }}</p>

        <button mat-flat-button *ngIf="agendamento.status === 'Pagamento pendente' && agendamento.formaPagamento === 'Pix'" (click)="abrirModalPagamento(agendamento)">
          <mat-icon>pix</mat-icon>
          Gerar QR Code
        </button>

        <button mat-flat-button *ngIf="agendamento.status === 'Pagamento pendente' && agendamento.formaPagamento === 'Cartão de Crédito'" (click)="abrirModalPagamento(agendamento)">
          <mat-icon>credit_card</mat-icon>
          Inserir cartão
        </button>

      </div>
    </div>
  </div>

  <!-- Modal de Pagamento -->
  <div *ngIf="modalAberto">

    <div *ngIf="agendamentoSelecionado?.formaPagamento == 'Pix'">
      <!-- Botão de Fechar -->
      <button (click)="fecharModal()">
        &times;
      </button>

      <h2>Pagamento via Pix</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg" alt="Código QR" />
      <p>Escaneie o código QR para realizar o pagamento.</p>
    </div>

    <div *ngIf="agendamentoSelecionado?.formaPagamento == 'Cartão de Crédito'">
      <!-- Botão de Fechar -->
      <button (click)="fecharModal()">
        &times;
      </button>

      <h2>Pagamento via Cartão de Crédito</h2>
      <p>Insira os dados do cartão.</p>
    </div>
  </div>
</main>
