<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
<main>
  <h1>Acompanhamento de solicitações</h1>
  <div *ngIf="!modalAberto" class="container">
    <div *ngIf="agendamentos.length === 0" class="sem-agendamentos">
      <p>Nenhum agendamento solicitado.</p>
    </div>
    <div *ngIf="agendamentos.length > 0" class="cards-container">
      <div *ngFor="let agendamento of agendamentos" class="card" [ngClass]="getCorCard(agendamento.status)">

        <h2>{{ agendamento.servico.nome }}</h2>
        <p><strong>Prestador:</strong> {{ agendamento.servico.prestador?.nome }}</p>
        <p><strong>Status:</strong> {{ agendamento.status }}</p>
        <p><strong>Data:</strong> {{ agendamento.horarioInicial | date: 'dd/MM/yyyy' }}</p>
        <p><strong>Horário:</strong>
          {{ agendamento.horarioInicial | date: 'HH:mm' }} -
          {{ agendamento.horarioFinal | date: 'HH:mm' }}
        </p>
        <p><strong>Valor Total:</strong> {{ agendamento.valorTotal | currency: 'BRL' }}</p>

        <button mat-flat-button *ngIf="agendamento.status === 'Pagamento pendente' && agendamento.formaPagamento === 'Pix'" (click)="abrirModalPagamento(agendamento)">
          <mat-icon>pix</mat-icon>
          Gerar QR Code
        </button>

        <button mat-flat-button *ngIf="agendamento.status === 'Pagamento pendente' && agendamento.formaPagamento === 'Cartão de Crédito'" (click)="abrirModalPagamento(agendamento)">
          <mat-icon>credit_card</mat-icon>
          Inserir cartão
        </button>

      </div>
    </div>
  </div>

  <!-- Modal de Pagamento -->
  <div id="modal-pagamento" *ngIf="modalAberto">

    <div class="pagamento pix" *ngIf="agendamentoSelecionado?.formaPagamento == 'Pix'">
      <button class="close-modal" (click)="fecharModal()">
        <mat-icon>close</mat-icon>
      </button>

      <h2 class="titulo-modal">Pagamento via Pix</h2>
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg" alt="Código QR" />
      <p class="subtitulo-modal">Escaneie o código QR para realizar o pagamento.</p>
      <button style="margin-top: 15px" mat-raised-button (click)="fecharModal()">Já pagou? Aperte aqui.</button>
    </div>

    <div class="pagamento cartao" *ngIf="agendamentoSelecionado?.formaPagamento == 'Cartão de Crédito'">
      <button class="close-modal" (click)="fecharModal()">
        <mat-icon>close</mat-icon>
      </button>

      <h2 class="titulo-modal">Pagamento via Cartão de Crédito</h2>
      <p class="subtitulo-modal">Insira os dados do cartão.</p>
      <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Número do cartão</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Número</mat-label>
              <input matInput formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Nome no cartão</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Data de expiração</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>Expiração</mat-label>
              <input matInput formControlName="thirdCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="fortyFormGroup">
          <form [formGroup]="fortyFormGroup">
            <ng-template matStepLabel>Código de Verificação (CVV)</ng-template>
            <mat-form-field appearance="outline">
              <mat-label>CVV</mat-label>
              <input matInput formControlName="fortyCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Concluir</ng-template>
          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-flat-button (click)="fecharModal()">Finalizar pagamento</button>
          </div>
        </mat-step>
      </mat-stepper>


    </div>
  </div>
</main>
