main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 50px;
  background: linear-gradient(135deg, #3f51b5, #1a237e);
  border-radius: 20px;
  width: 80%;
}

h1 {
  font-size: 35px;
  text-align: center;
  color: black;
  padding: 45px 0;
}

.sem-agendamentos {
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
  border-left: 5px solid #3f51b5;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  flex: 1 1 calc(33.333% - 40px);
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 1.6rem;
  margin: 0;
  color: #333333;
}

.card p {
  margin: 6px 0;
  color: #555555;
  font-size: 1rem;
  line-height: 1.4;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.card strong {
  color: #222222;
}


.azul {
  border-left: 5px solid #2196f3; /* Azul */
}

.verde {
  border-left: 5px solid #4caf50; /* Verde */
}

.vermelho {
  border-left: 5px solid #f44336; /* Vermelho */
}


.amarelo {
  border-left: 5px solid #cfff00; /* Amarelo */
}


#modal-pagamento {
  width: 80%;
  margin: 100px 0;
  padding: 50px;
  background: linear-gradient(135deg, #3f51b5, #1a237e);
  border-radius: 20px;
}

.pagamento {
  //background-color: green;
}

.pagamento mat-stepper {
  //background-color: red;
  margin-top: 25px;
  border-radius: 10px;
}

.pagamento mat-stepper form {
  padding-top: 10px;
  //background-color: pink;
}

.close-modal {
  position: absolute;
  left: 89%;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.titulo-modal, .subtitulo-modal {
  color: #ffffff;
}

.pix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pix img {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 25px 0;
}

.pix .close-modal {
  top: 88%;
}
