<main>
  <div class="agendamento-container">
    <!-- Card de Datas Disponíveis -->
    <div class="card datas-disponiveis">
      <h2>Datas Disponíveis</h2>
      <ul>
        <li *ngFor="let data of datasDisponiveis">
          <button (click)="dataSelecionada.setValue(data); carregarHorariosDisponiveis();"
                  class="data-button">
            {{ data }}
          </button>

          <!-- Exibir horários ao selecionar uma data -->
          <ul *ngIf="dataSelecionada.value === data" class="horarios-list">
            <li *ngFor="let horario of horariosDisponiveis">
            <span [class.disponivel]="horario.disponivel" [class.ocupado]="!horario.disponivel">
             {{ horario.horario }} - {{ horario.disponivel ? 'Disponível' : 'Ocupado' }}
            </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Card de Solicitação de Agendamento -->
    <div class="card container-agendamento">
      <h2>Solicitar Agendamento</h2>
      <form (ngSubmit)="agendar()">
        <mat-form-field appearance="outline">
          <mat-label>Data do agendamento</mat-label>
          <mat-select [formControl]="dataSelecionada" (selectionChange)="carregarHorariosDisponiveis()">
            <mat-option *ngFor="let data of datasDisponiveis" [value]="data">
              {{ data }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Seleção de Horário -->
        <mat-form-field appearance="outline">
          <mat-label>Horário do agendamento</mat-label>
          <input type="time" [(ngModel)]="horarioInicioAtendimento" matInput name="inicioExpediente" required />
        </mat-form-field>

        <!-- Seleção de Forma de Pagamento -->
        <mat-form-field appearance="outline" *ngIf="(servicoSelecionado?.formasPagamento ?? []).length > 0">
          <mat-label>Forma de Pagamento</mat-label>
          <mat-select [(ngModel)]="formaPagamentoSelecionada" name="formaPagamento" required>
            <mat-option *ngFor="let forma of servicoSelecionado?.formasPagamento ?? []" [value]="forma">
              {{ forma }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button type="submit" mat-flat-button [disabled]="!dataSelecionada.value || !horarioInicioAtendimento || !formaPagamentoSelecionada">
          Concluir
        </button>
      </form>
    </div>
  </div>
</main>
