main {
  background: linear-gradient(135deg, #3f51b5, #1a237e);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

mat-card-title, mat-card-subtitle, b {
  font-family: "Nunito", serif;
}

#perfil {
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.icone-usuario {
  font-size: 80px;
  height: 80px;
  width: 80px;
  color: #ffffff;
}

.nome-usuario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  transition: 0.3s;
}

.verified {
  color: #ffcc00;
}

.unverified {
  color: #ffffff;
}

.nota-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 15px;
  border-radius: 8px;
  margin-top: 5px;
  gap: 5px;
}

.nota-media mat-icon {
  width: 25px;
  height: 25px;
  font-size: 25px;
}

.user-icon {
  width: 50px;
  height: 50px;
  font-size: 45px;
}

mat-card-title {
  font-size: 18px;
}

.titulo {
  margin-top: 25px;
  margin-bottom: -25px;
  color: #ffffff;
}

.comentarios {
  overflow: auto;
  height: 250px;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 25px;
}

.spacer {
  min-width: 50px;
}

.card-avaliacao {
  height: 100%;
  min-width: 350px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.comentario{
  padding: 15px;
  flex-grow: 1;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  overflow: auto;
}

.nota {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.nota mat-icon {
  width: 20px;
  color: #dfa30a;
  font-size: 21px;
}

mat-card-actions {
  padding: 15px;
}

.servicos {
  overflow: auto;
  height: 350px;
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  gap: 25px;
}

.card-servico {
  height: 100%;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  word-break: break-all;
}

.titulo-servico {
  padding: 10px 15px;
}

.descricao-servico {
  overflow: auto;
  min-height: 75px;
  max-height: 75px;
  padding: 15px;
  border-top: 1px solid #cccccc;
}

.comentario-servico {
  border-top: 1px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.comentario-servico textarea {
  height: 75px;
  resize: none;
}

.avaliado {
  margin-top: 140px;
}

.avaliacao-radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: -5px;
}

.avaliacao-radio mat-radio-button span {
  margin-left: -10px;
}

.campo-comentario {
  width: 100%;
  height: 100%;
}

.notas {
  flex-grow: 1;
}

#modal-premium {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 25px 20px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  max-height: 80vh;
  overflow: auto;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.close {
  background-color: transparent;
  border: none;
  position: fixed;
  left: 93%;
}

.vantagens {
  padding: 5px 15px;
}

.vantagem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.vantagem mat-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3f51b5;
  color: #ffffff;
  padding: 2px;
  border-radius: 5px;
  font-size: 20px;
}

.titulo-modal {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.titulo-modal span {
  background-color: #ffcc00;
  padding: 3px;
  border: 2px solid #000000;
  border-radius: 100px;
  font-size: 20px;
}

.subtitulo-modal {
  margin-top: 20px;
}

.fechar-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fechar-modal button, .fechar-modal a {
  margin-top: 10px;
  background-color: #3f51b5;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #3f51b5;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 15px;
  transition: 0.2s;
}

.fechar-modal button:hover, .fechar-modal a:hover {
  background-color: #1a237e;
  border: 1px solid #1a237e;
  transition: 0.2s;
}

@media (max-width: 1024px) {
  .comentarios, .servicos {
    height: 100%;
    flex-direction: column;
  }

  .spacer {
    display: none;
  }

  .card-avaliacao {
    height: 250px;
    min-width: 0;
    width: 90%;
  }

  .titulo {
    font-size: 5vw;
    margin-top: 0;
  }

  .servicos {
    height: 100%;
    justify-content: center;
    gap: 25px;
  }

  .card-servico {
    width: 90%;
  }

  .avaliacao-radio {
    flex-direction: column;
  }

  .avaliado {
    margin-top: 0;
  }
}
