<main>
    <div id="perfil">
        <mat-icon class="icone-usuario">account_circle</mat-icon>
        <p class="nome-usuario">{{this.usuarioService.nomeUsuario()}}</p>
        <p class="nota-media" *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'profissional'">
            <mat-icon>star</mat-icon>
            {{this.avaliacaoMedia | number:'1.1-1' }}
        </p>
    </div>

    <h1 class="titulo" *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'profissional'">Avaliações sobre seus serviços:</h1>
    <div class="comentarios" *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'profissional'">
      <span class="spacer"></span>
      <mat-card *ngFor="let avaliacao of avaliacoes" class="card-avaliacao" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon class="user-icon">account_circle</mat-icon>
          </div>
          <mat-card-title>Anônimo</mat-card-title>
          <mat-card-subtitle class="nota">
            <mat-icon *ngFor="let i of [].constructor(avaliacao.nota)">star</mat-icon>({{ avaliacao.nota }})
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="comentario">
          <p>{{ avaliacao.comentario }}</p>
        </mat-card-content>
        <mat-card-actions>
          <p class="data">{{ avaliacao.data }}</p>
        </mat-card-actions>
      </mat-card>
      <span class="spacer"></span>
    </div>

    <h1 class="titulo" *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'cliente'">
        Serviços Concluídos:
    </h1>

    <div class="servicos" *ngIf="this.usuarioService.usuarioLogado()?.tipo == 'cliente'">
        <span class="spacer"></span>
        <mat-card *ngFor="let servico of servicosConcluidos" class="card-servico" appearance="outlined">
            <mat-card-header class="titulo-servico">
                <mat-card-title><b>{{ servico.servico.nome }}</b></mat-card-title>
            </mat-card-header>

          <mat-card-content class="descricao-servico">
            <mat-card-subtitle><b>Valor: </b>R$ {{ servico.valorTotal }}</mat-card-subtitle>
            <mat-card-subtitle><b>Data: </b>{{ servico.data }}</mat-card-subtitle>
            <mat-card-subtitle><b>Descrição: </b>{{ servico.servico.descricao }}</mat-card-subtitle>
          </mat-card-content>

            <mat-card-actions class="comentario-servico" *ngIf="servico.status == 'Concluído'">
              <mat-form-field class="campo-comentario">
                <mat-label>Comentário</mat-label>
                <textarea matInput [(ngModel)]="comentario"></textarea>
              </mat-form-field>

              <mat-radio-group [(ngModel)]="notaEscolhida" class="avaliacao-radio">
                <p><b>Nota:</b></p>
                <div class="notas">
                  <mat-radio-button *ngFor="let nota of [1, 2, 3, 4, 5]" [value]="nota">
                    <span [ngClass]="{'selected': notaEscolhida >= nota}">{{ nota }}</span>
                  </mat-radio-button>
                </div>
                <button (click)="salvarAvaliacao(servico, comentario, notaEscolhida)" mat-flat-button>Avaliar</button>
              </mat-radio-group>
            </mat-card-actions>

            <mat-card-actions class="comentario-servico avaliado" *ngIf="servico.status == 'Avaliado'">
              <p>Esse serviço já foi avaliado.</p>
            </mat-card-actions>
        </mat-card>
        <span class="spacer"></span>
    </div>


</main>
