<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select [(ngModel)]="categoria" (change)="atualizarServicos()" placeholder="Selecione uma categoria">
      <mat-option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngFor="let servico of servicos">
    <mat-card>
      <app-card-servico *ngIf="servico.categoria == categoria" [servico]="servico"></app-card-servico>
    </mat-card>
  </div>
</div>


