<main>
  <form>
    <mat-icon id="logo">engineering</mat-icon>
    <h1 class="titulo">Criar novo serviço</h1>
    <mat-form-field appearance="outline">
      <mat-label>Nome do serviço</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tipo de serviço</mat-label>
      <mat-select>
        <mat-option value="beleza">Beleza</mat-option>
        <mat-option value="construcao">Construção</mat-option>
        <mat-option value="consultoria">Consultoria</mat-option>
        <mat-option value="domesticos">Domésticos</mat-option>
        <mat-option value="educacao">Educação</mat-option>
        <mat-option value="eventos">Eventos</mat-option>
        <mat-option value="pets">Pets</mat-option>
        <mat-option value="saude">Saúde</mat-option>
        <mat-option value="tecnologia">Tecnologia</mat-option>
        <mat-option value="transporte">Transporte</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Descrição</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>

    <button mat-flat-button>
      <mat-icon>add_circle</mat-icon>
      Criar serviço
    </button>
  </form>
</main>
